.App,
.game {
  text-align: center;
  background-color: rgb(24, 23, 23);
  color: #eb410d;
  height: 100%;
  width: 100%;
}

.welcome,
.game .list-group-item {
  color: #eb410d;
  background-color: rgb(24, 23, 23);
}
.clearance-lvl {
  color: black;
  font-family: monospace;
  top: -1140px;
  left: 48px;
  position: absolute;
  width: 90%;
}
.user-info {
  position: absolute;
  top: -1046px;
  left: 48px;
  text-align: left;
}
.unclassified {
  background-color: yellow;
}

.confidential {
  background-color: #76b041;
}

.secret {
  background-color: blue;
}

.top-secret {
  background-color: red;
}

.illuminati {
  background-color: indigo;
}

.success {
  background-color: #76b041;
}

.fail {
  background-color: red;
}

.undecided {
  background-color: grey;
}
.game-code {
  color: black;
}

.game-footer {
  /* background-color: blueviolet; */
  height: 10%;
  width: 100%;
}

.game-header {
  width: 100%;
  height: 7%;
  /* background-color: yellow; */
}
.game-over {
  height: 100%;
  background-color: blueviolet;
}
.leave-game {
  top: 100;
}

.game-view {
  /* background-color: gray; */
  width: 100%;
  height: 70%;
}
.game-view-col {
  width: 100%;
  height: 100%;
  /* background-color: blanchedalmond; */
}
.mission-fail-h {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  position: relative;
  top: 10%;
  font-size: 6rem;
}
.mission-fail {
  background-color: #eb410d;
  height: 100%;
}

.mission-success {
  background-color: #76b041;
  height: 100%;
}

.mission-success-h {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  position: relative;
  top: 10%;
  /* left: 15%; */
  font-size: 6rem;
}
.scientist {
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  color: black;
  height: 100%;
}
.scientist-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: rgb(14, 124, 214);
}
.scientist-win {
  background-color: white;
  height: 100%;
}
.infiltrator {
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  color: black;
  height: 100%;
}
.infiltrator-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #eb410d;
}
.infiltrator-list-entry {
  color: #eb410d;
  font-weight: 900;
}
.infiltrators-win {
  font-family: fantasy;
}
.appreciated {
  top: 50%;
}
.user-details {
  color: orange;
}
/* .user-id-card {
  position: absolute;
  top: 10px;
  left: 48px;
} */
/* .dashboard {
  background-color: grey;
  height: 100%;
  width: 100%;
} */
/* .login {
  height: 100%;
  width: 100%;
} */
.logout {
  background-color: aqua;
  top: 917px;
  left: 231px;
  position: absolute;
}
.join-game {
  top: 800px;
  left: 91px;
  position: absolute;
}
.start-game {
  top: 624px;
  left: 145px;
  position: absolute;
}
.select-roster {
  background-color: antiquewhite;
  color: green;
}
