.App,
.game {
  font-family: 'Metrophobic', sans-serif;
  text-align: center;
  color: #e24b1dbd;
  height: 100%;
  width: 100%;
}
.welcome,
.game .list-group-item {
  color: #e24b1dbd;
}
.unclassified {
  background-color: #eae74f;
}
.confidential {
  background-color: #76b041;
}
.secret {
  background-color: #3e92cc;
}
.top-secret {
  background-color: #eb410d;
}
.illuminati {
  background-color: rgb(101, 61, 130);
}
.success {
  background-color: #76b041;
}
.fail {
  background-color: red;
}
.undecided {
  background-color: grey;
}
.game-code {
  color: black;
}
.game-footer {
  height: 10%;
  width: 100%;
}
.game-header {
  width: 100%;
  height: 7%;
}
.game-over {
  height: 100%;
  background-color: blueviolet;
}
.leave-game {
  top: 100;
}
.game-view {
  width: 100%;
  height: 70%;
}
.game-view-col {
  width: 100%;
  height: 100%;
}
.mission-fail-h {
  font-family: 'Anonymous Pro', monospace;
  color: white;
  position: relative;
  top: 10%;
  font-size: 6rem;
}
.mission-fail {
  background-color: #e24b1dbd;
  height: 100%;
}
.mission-success {
  background-color: #76b041;
  height: 100%;
}
.mission-success-h {
  font-family: 'Anonymous Pro', monospace;
  color: white;
  position: relative;
  top: 10%;
  font-size: 6rem;
}
.scientist {
  font-family: 'Metrophobic', sans-serif;
  background-color: white;
  color: black;
  height: 100%;
}
.scientist-title {
  font-family: 'Metrophobic', sans-serif;
  color: #3e92cc;
}
.scientist-win {
  background-color: white;
  height: 100%;
}
.infiltrator {
  font-family: 'Metrophobic', sans-serif;
  background-color: white;
  color: black;
  height: 100%;
}
.infiltrator-title {
  font-family: 'Metrophobic', sans-serif;
  color: #e24b1dbd;
}
.infiltrator-list-entry {
  color: #e24b1dbd;
  font-weight: 900;
}
.infiltrators-win {
  font-family: 'Metrophobic', sans-serif;
}
.appreciated {
  top: 50%;
}
.user-details {
  color: orange;
}
.dashboard {
  background-size: auto;
  height: 25%;
  width: 40%;
  top: 20px;
}
.user-info {
  color: black;
  text-align: left;
  z-index: 999;
}
.clearance {
  border: darkgray;
  border-style: solid;
  border-width: 5px;
}
.clearance-lvl {
  width: 106%;
  position: relative;
  align-self: center;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 999;
  color: black;
  font-family: monospace;
  z-index: 0;
}
.on-logo.contain {
  background-size: contain;
}
.on-logo.cover {
  background-size: cover;
}
.logout {
  background-color: #3e92cc;
}
.join-game {
  text-align: center;
}
.start-game {
  position: center;
  align-self: center;
}
.player-info {
  position: center;
}
.lesser {
  color: black;
}
.sparky-text {
  color: black;
}

.sparky-container:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 0px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.select-roster {
  background-color: antiquewhite;
  color: green;
}
